.base{


  }
.left_col{/* Левая колонка */
 float: left; /* Обтекание справа */
 width: 200px; /* Ширина колонки */
 margin-left: 30px; /* Отступ слева */

}
.right_col{/* Правая колонка */
 margin-left: 200px; /* Отступ слева */

}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
    margin-right: auto;
	overflow: hidden;
}
table th, table td {
	border: 1px solid #888;
	padding:3px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
table th, table td {
	border: 1px solid #888;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
table td:hover {
	background: #fffabe;
}

table td:hover:before {
	background-color: #eee;
	content: '';
	height: 100%;
	left: -5000px;
	position: absolute;
	top: 0;
	width: 10000px;
	z-index: -2;
}

table td:hover:after {
	background-color: #eee;
	content: '';
	height: 10000px;
	left: 0;
	position: absolute;
	top: -5000px;
	width: 100%;
	z-index: -1;
}