html {
  background: #eee;
}

body {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #4b0f31;
    background-color: #f1e5e6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.codrops-header {
    padding: 2em 1em 4em;
    text-align: center;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label{
    font-size: 1.25em;
    font-weight: 700;
    background-color: #4b0f31;
    color: white;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0;

}

.box {
    background-color: #dfc8ca;
    padding: 6.25rem 1.25rem;
}

.content {
    width: 85%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em 0;
}
div {
    display: block;
}
