.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.lab1{
    font-size: 3em;
    font-weight: 1000;
    background-color: yellow;

    padding: 1.25rem 1.25rem;
    -webkit-box-shadow: 3px 7px 5px 1px rgba(0,0,0,0.76);
    box-shadow: 3px 7px 5px 1px rgba(0,0,0,0.76);
}

.lab2{
    font-size: 3em;
    font-weight: 1000;
    background-color: red;


    padding: 1.25rem 1.25rem;
    -webkit-box-shadow: 3px 7px 5px 1px rgba(0,0,0,0.76);
    box-shadow: 3px 7px 5px 1px rgba(0,0,0,0.76);

    cursor: pointer;
}