<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>

<header>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('index') }}" class="linkhead">Изба</a></li>
            <li><a href="{{ url_for('upload.upload_files') }}" class="linkhead">Загрузка</a></li>
            <li><a href="{{ url_for('indicators.indicators_show') }}" class="linkhead">Показатели</a></li>
            <li><a href="{{ url_for('test') }}" class="linkhead">Тест</a></li>
        </ul>
    </nav>
</header>


    <h1>Влажность - {{hum}}</h1>

    <h1>Температура- {{temp}}</h1>




</body>
</html>