<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='header.css') }}">
</head>
<body>

<header>
    <div class="codrops-links">
        <a href="{{ url_for('index') }}" class="linkhead">Дом</a>
		<a href="{{ url_for('upload') }}" class="linkhead">Загрузка</a>
        <a href="{{ url_for('hello') }}" class="linkhead">Показатели</a>
    </div>
</header>



<h1>home</h1>
</body>
</html>