<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/indicators.css') }}">


</head>


<header>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('index') }}" class="linkhead">Изба</a></li>
            <li><a href="{{ url_for('upload.uploadFiles') }}" class="linkhead">Загрузка</a></li>
            <li><a href="{{ url_for('indicators.indicatorsShow') }}" class="linkhead">Показатели</a></li>
            <li><a href="{{ url_for('test') }}" class="linkhead">Тест</a></li>
        </ul>
    </nav>
</header>

<body>
    <a href ="{{url_for('indicators.douwnloadCSV')}}" class="lnkIndicators"> грузить csv </a>
    добавить

    <table>

        <tr>
            <th>ID</th>
            <th>Дата показаний</th>
            <th>Тариф</th>
            <th>Показания</th>
        </tr>
        {% if t == "" %}
        <td>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
        </td>
        {% else %}
            {% for i in t%}
            <tr>
                <td> {{i.id}}</td>
                <td> {{i.month}}</td>
                <td> {{i.typeMeter}}</td>
                <td> {{i.meter}}</td>
            </tr>
            {% endfor %}
        {% endif %}

    </table>




</body>
</html>