<!DOCTYPE html>
<html>

 <head>
  <meta charset="utf-8">
  <title>Отправка файла на сервер</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styleTest.css') }}">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='header.css') }}">
 </head>

<body>


<header>
    <ul class="menu">
        <li><a href="{{ url_for('index') }}" class="linkhead">Изба</a></li>
        <li><a href="{{ url_for('upload') }}" class="linkhead">Загрузка</a></li>
        <li><a href="{{ url_for('hello') }}" class="linkhead">Показатели</a></li>
    </ul>
</header>



     <form enctype="multipart/form-data" method="post">

        <label for="fusk1" class = lab1>Open</label>
        <input  id = "fusk1"type="file" name="files" multiple="true" class="inputfile">

         <label for="fusk" class = lab2>Sent</label>
        <input id="fusk"type="submit" value="Sent" class="inputfile">

     </form>





 </body>
</html>