<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Отправка файла на сервер</title>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/multiform.css') }}">

     <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/uploadFiles.js') }}"></script>

 </head>

 <body>

    <header>
        <ul class="menu">
            <li><a href="{{ url_for('basic_view.index') }}" class="linkhead">Изба</a></li>
            <li><a href="{{ url_for('upload.upload_files') }}" class="linkhead">Загрузка</a></li>
            <li><a href="{{ url_for('indicators.indicators_show') }}" class="linkhead">Показатели</a></li>
            <li><a href="{{ url_for('basic_view.test') }}" class="linkhead">Тест</a></li>
        </ul>
    </header>


   <h1>File input</h1>



     <form id="data" enctype="multipart/form-data" method="post" class="multform">

        <label for="fusk1" class = lab1>Open</label>
        <input  id = "fusk1"type="file" name="files" multiple="true" class="inputfile">

        <label for="fusk" class = lab2>Sent</label>
        <input id="fusk"type="submit" value="Submit" class="inputfile">

     </form>

    <h1>Progress: <span id='pBar'>0%</span></h1>

    <!--<span id='pBar2'>0</span>-->
    <h1>Успех - <span id='pBar2'>0</span></h1>





 </body>
</html>