<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Отправка файла на сервер</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

 </head>
 <body>
 <div header class="codrops-header">
  <h1>File input</h1>
  <div class = "content">
   <div class ="box">
    <form enctype="multipart/form-data" method="post">

       <input  type="file" name="files" multiple="true" >

       <label for="fusk">Choose a file</label>
       <input id="fusk"type="submit" value="Отправить" class="inputfile">

    </form>
   </div>
 </div>

 </div>


 </body>
</html>